.button {
    min-width: 100px;
    min-height: 30px;
    background-color: #de0cd4;
    border-radius: 15px;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font: var(--heading);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 200ms;
}

.button:hover {
    border: 2px solid #de0cd4;
    background-color: white;
    color: #de0cd4;
}