.input {
    border: 1px solid #ffffff;
    border-radius: 12px;
    outline: none;
    min-width: 125px;
    min-height: 25px;
    padding-left: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 8px #7b7b7b;
    color: black;
    transition: 150ms;
}

.input:focus {
    outline: 1px #7b7b7b;
    box-shadow: 0 0 16px #7b7b7b;
}